body{font-family:Arial;text-align:center;background:#f2f2f2;padding:30px}
.box{background:#fff;max-width:500px;margin:auto;padding:20px;border-radius:15px}
input{width:90%;padding:10px;margin:5px}
button{padding:10px 20px}
